.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  @include transition($carousel-transition);
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);

  @supports (transform-style: preserve-3d) {
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  transform: translateX(100%);

  @supports (transform-style: preserve-3d) {
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  transform: translateX(-100%);

  @supports (transform-style: preserve-3d) {
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    opacity: 0;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .active.carousel-item-left,
  .active.carousel-item-prev {
    transform: translateX(0);

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $carousel-control-width;
  color: $carousel-control-color;
  text-align: center;
  opacity: $carousel-control-opacity;

  @include hover-focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }
}
.carousel-control-prev {
  left: 0;
  @if $enable-gradients {
    background: linear-gradient(90deg, rgba($black, .25), rgba($black, .001));
  }
}
.carousel-control-next {
  right: 0;
  @if $enable-gradients {
    background: linear-gradient(270deg, rgba($black, .25), rgba($black, .001));
  }
}

// Icons for within
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: $carousel-control-icon-width;
  height: $carousel-control-icon-width;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: $carousel-control-prev-icon-bg;
}

.carousel-control-next-icon {
  background-image: $carousel-control-next-icon-bg;
}

.carousel-indicators {
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 0;
  list-style: none;
  margin-left: $carousel-control-width;
  margin-right: $carousel-control-width;
  padding-left: 0; // override <ol> default
  position: absolute;
  right: 0;
  z-index: 15;

  li {
    background-color: rgba($carousel-indicator-active-bg, .5);
    box-shadow: $carousel-indicator-box-shadow;
    border-radius: $carousel-indicator-border-radius;
    cursor: pointer;
    flex: 0 1 auto;
    height: $carousel-indicator-height;
    margin-left: $carousel-indicator-spacer;
    margin-right: $carousel-indicator-spacer;
    position: relative;
    text-indent: -999px;
    width: $carousel-indicator-width;

    &::before {
      content: "";
      display: inline-block;
      height: 10px;
      left: 0;
      position: absolute;
      top: -10px;
      width: 100%;
    }
    &::after {
      bottom: -10px;
      content: "";
      display: inline-block;
      height: 10px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .active {
    background-color: $carousel-indicator-active-bg;
  }
}

.carousel-caption {
  bottom: 20px;
  color: $carousel-caption-color;
  left: ((100% - $carousel-caption-width) / 2);
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  text-align: center;
  z-index: 10;
}
