.form-control:focus {
	border-color: initial;
}

.input-group-borderless {
	border: $border-width solid $gray-400;

	&:focus-within {
		border-color: $gray-700;
	}

	.form-control {
		height: 2.15625rem;
		padding-left: .5em;

		&.form-control-lg {
			height: 2.7578125rem;
		}

		&.form-control-sm {
			height: 1.73046875rem;
		}

		&::placeholder {
			color: $gray-300;
		}
	}

	.form-control,
	.input-group-text {
		background-color: transparent;
	}

	.input-group-text {
		padding-left: 1em;
		padding-right: .5em;
	}

	.form-control,
	.input-group-prepend,
	.input-group-text {
		border: none;
	}
}