& {
	font-family: $font-family-sans-serif !important;
}

& ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

& .active {
    outline: none;
    box-shadow: none !important;
}

& .w-auto {
	width: auto !important;
}