%arn-select {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiM4MDgwODAiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==');
    background-color: $white;
    background-position: top 13px right 11px;
    background-size: 10px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px 38px 5px 5px;
    outline: none;
    width: 100%;
}

select,
select.form-control {
    @extend %arn-select;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus,
label:focus {
    outline: none;
    box-shadow: none !important;
}

input[type="email"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="url"]:active,
textarea:active,
select:active,
label:active {
    outline: none;
    box-shadow: none !important;
}

input {
    width: 100%;
    border: 1px solid $gray-400;
    margin: 0;
    color: $gray-800;
    padding: 5px;
    outline: none;
}

label.arn-custom-label-radio {
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0 0 0 28px;
}

label.arn-custom-label-radio::before {
    content: "";
    margin: 0 0 0 -19px;
    padding: 0;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: $custom-control-indicator-bg;
    border-radius: $custom-radio-indicator-border-radius;
    outline: none;
    display: block;
    position: absolute;
}

input[type=radio].arn-custom-label-radio {
    display: none;
}

input[type=radio].arn-custom-label-radio:checked + label.arn-custom-label-radio::before {
    margin: 0 0 0 -19px;
    color: $custom-control-indicator-checked-color;
    background-image: $custom-radio-indicator-icon-checked;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $custom-control-indicator-bg-size;
    @include gradient-bg($custom-control-indicator-checked-bg);
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}


.arn-funkyradio {

    div {
        clear: both;
        overflow: hidden;
    }

    label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid $gray-200;
        font-weight: normal;
    }

    input[type="radio"],
    input[type="checkbox"] {

        &:empty {
            display: none;

            ~ label {
                position: relative;
                line-height: 2.5em;
                text-indent: 3.25em;
                margin-top: 2em;
                cursor: pointer;
                user-select: none;

                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '\2714';
                    color: $gray-300;
                    text-indent: .9em;
                    width: 2.5em;
                    background: $gray-200;
                    border-radius: 3px 0 0 3px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            &:before {
                content: '\2714';
                text-indent: .9em;
                color: $gray-800;
            }
        }

        &:checked ~ label {
            &:before {
                content: '\2714';
                text-indent: .9em;
                color: $gray-800;
                background-color: $gray-400;
            }
        }

        &:focus ~ label:before {
            box-shadow: 0 0 0 3px $gray-600;
        }
    }

    &-secondary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $gray-800;
                background-color: $secondary;
            }
        }
    }

    &-dark {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $secondary;
            }
        }
    }

    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $primary;
            }
        }
    }

    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $success;
            }
        }
    }

    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $danger;
            }
        }
    }

    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $warning;
            }
        }
    }

    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: $white;
                background-color: $info;
            }
        }
    }
}