select {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiM4MDgwODAiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==');
    background-position: top 13px right 11px;
    background-size: 10px;
    background-repeat: no-repeat;
    outline: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus,
label:focus {
    outline: none;
    box-shadow: none !important;
}

input[type="email"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="url"]:active,
textarea:active,
select:active,
label:active {
    outline: none;
    box-shadow: none !important;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-400;
    margin: 0;
    color: $gray-800;
    padding: 12px 5px;
    outline: none;
}

label.arn-custom-label-radio {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label.arn-custom-label-radio::before {
    content: "";
    margin: 0;
    padding: 0;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: $custom-control-indicator-bg;
    border-radius: $custom-radio-indicator-border-radius;
    outline: none;
    display: block;
}

input[type=radio].arn-custom-label-radio {
    display: none;
}

input[type=radio].arn-custom-label-radio:checked + label.arn-custom-label-radio::before {
    color: $custom-control-indicator-checked-color;
    background-image: $custom-radio-indicator-icon-checked;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $custom-control-indicator-bg-size;
    @include gradient-bg($custom-control-indicator-checked-bg);
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}