select {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-400;
    background-color: $white;
    padding: 5px 25px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $gray-800;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiM4MDgwODAiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==');
    background-position: top 10px right 2px, top 22px right 9px;
    background-size: 10px;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
}

textarea{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border: 1px solid $gray-400;
    padding: 10px;
    margin: 0 auto 50px;
    color: $gray-800;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-400;
    margin: 0;
    color: $gray-800;
    padding: 12px 5px;
    outline: none;
}

label.radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label.radio:before{
    content: "";
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHBhdGggaWQ9Im53MzlhIiBkPSJNMjI1IDE2MWE3IDcgMCAxIDEgMCAxNCA3IDcgMCAwIDEgMC0xNHoiLz48Y2xpcFBhdGggaWQ9Im53MzliIj48dXNlIGZpbGw9IiNmZmYiIHhsaW5rOmhyZWY9IiNudzM5YSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMTcgLTE2MCkiPjx1c2UgZmlsbD0iI2ZmZiIgZmlsbC1vcGFjaXR5PSIwIiBzdHJva2U9IiNhOWE5YTkiIHN0cm9rZS1taXRlcmxpbWl0PSI1MCIgc3Ryb2tlLXdpZHRoPSIyLjQ0IiBjbGlwLXBhdGg9InVybCgmcXVvdDsjbnczOWImcXVvdDspIiB4bGluazpocmVmPSIjbnczOWEiLz48L2c+PC9nPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    display: block;
}

input[type=radio]:not(old) {
    display: none;
}

input[type=radio]:not(old):checked + label.radio:before{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHBhdGggaWQ9Im5haHFhIiBkPSJNMjI1IDExNWE3IDcgMCAxIDEgMCAxNCA3IDcgMCAwIDEgMC0xNHoiLz48cGF0aCBpZD0ibmFocWMiIGQ9Ik0yMjUgMTE4YTQgNCAwIDEgMSAwIDggNCA0IDAgMCAxIDAtOHoiLz48Y2xpcFBhdGggaWQ9Im5haHFiIj48dXNlIGZpbGw9IiNmZmYiIHhsaW5rOmhyZWY9IiNuYWhxYSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMTcgLTExNCkiPjx1c2UgZmlsbD0iI2ZmZiIgZmlsbC1vcGFjaXR5PSIwIiBzdHJva2U9IiMwMGFjZDYiIHN0cm9rZS1taXRlcmxpbWl0PSI1MCIgc3Ryb2tlLXdpZHRoPSIyLjQ0IiBjbGlwLXBhdGg9InVybCgmcXVvdDsjbmFocWImcXVvdDspIiB4bGluazpocmVmPSIjbmFocWEiLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIxNyAtMTE0KSI+PHVzZSBmaWxsPSIjMDBhY2Q2IiB4bGluazpocmVmPSIjbmFocWMiLz48L2c+PC9nPjwvc3ZnPg==');
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-400;
    box-shadow: none;
    box-sizing: inherit;
    padding: 5px;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border: none;
    border-bottom: 1px solid $gray-600;
    outline: none;
}

textarea {
    min-height: 6.5rem;
}