.arn-bootstrap {

	// Auryn CSS
	@import "fonts";
	@import "variables";

	// BOOTSTRAP
	@import "node_modules/bootstrap/scss/bootstrap";
	@import "node_modules/bootstrap/scss/utilities/_borders";

	// Auryn CSS
	@import "global";
	@import "buttons";
	@import "inputs";
	@import "nav";
	@import "modal";
	@import "switches";
	@import "form";
	@import "timeline";
	
}