.arn-bootstrap {

	// Auryn CSS
	@import "fonts";
	@import "variables";

	// BOOTSTRAP
	@import "node_modules/bootstrap/scss/bootstrap";

	// Auryn CSS
	@import "global";
	@import "buttons";
	@import "inputs";
	@import "modal";
	@import "switches";
	
}