.arn-bootstrap {

	// Auryn CSS
	@import 'fonts';
	@import 'variables';

	// Required BOOTSTRAP
	@import "node_modules/bootstrap/scss/functions";
	@import "node_modules/bootstrap/scss/variables";
	@import "node_modules/bootstrap/scss/mixins";

	// Optional BOOTSTRAP
	@import "node_modules/bootstrap/scss/grid";
	@import "node_modules/bootstrap/scss/forms";
	@import "node_modules/bootstrap/scss/buttons";
	@import "node_modules/bootstrap/scss/alert";
	@import "node_modules/bootstrap/scss/close";
	@import "node_modules/bootstrap/scss/modal";
	@import "node_modules/bootstrap/scss/card";
	@import "node_modules/bootstrap/scss/transitions";
	@import "node_modules/bootstrap/scss/tables";
	@import "node_modules/bootstrap/scss/pagination";
	@import "node_modules/bootstrap/scss/badge";
	@import "node_modules/bootstrap/scss/list-group";
	@import "node_modules/bootstrap/scss/utilities";
	@import "node_modules/bootstrap/scss/button-group";
	@import "node_modules/bootstrap/scss/input-group";
	@import "node_modules/bootstrap/scss/custom-forms";
	@import "node_modules/bootstrap/scss/nav";
	@import "node_modules/bootstrap/scss/reboot";

	// Auryn CSS
	@import 'global';
	@import 'buttons';
	@import 'inputs';
	@import 'navbars';
	@import 'navegation';
	@import 'progress-bars';
	@import 'tables';
	@import 'typography';
	@import 'modal';
	@import 'forms';
	
}