.nav-minimal {
  border: none;
  border-bottom: $nav-minimal-border-width solid $nav-minimal-border-color;

  .nav-item {
    margin-bottom: -$nav-minimal-border-width;
  }

  .nav-link {
    border: none;
    border-bottom: $nav-minimal-border-width solid transparent;
    color: $nav-minimal-color;
    margin: 0 1px;

    @include hover-focus {
      border-color: $nav-minimal-link-active-border-color;
      color: $nav-minimal-link-active-color;
    }

    &.disabled {
      background-color: transparent;
      border-color: transparent;
      color: $nav-link-disabled-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    background-color: transparent;
    border-color: $nav-minimal-link-active-color;
    color: $nav-minimal-link-active-color;
    font-weight: bold;
  }

  .dropdown-menu {
    margin-top: -$nav-minimal-border-width;
    @include border-top-radius(0);
  }

  &.card-header-tabs {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}