.navbar {
    font-size: $font-size-sm;
    font-weight: $headings-font-weight;
}

.bg-primary {

    .dropdown-menu {
        background-color: $primary;

        .dropdown-item,
        .dropdown-item:focus {
            color: $navbar-dark-color;
        }

        .dropdown-item.active,
        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: darken($primary, 5%);
            color: #fff;
        }
    }
}

.bg-dark {
    background-color: $gray-800 !important;

    .dropdown-menu {
        background-color: $gray-800;

        .dropdown-item,
        .dropdown-item:focus {
            color: $navbar-dark-color;
        }

        .dropdown-item.active,
        .dropdown-item:hover,
        .dropdown-item:focus  {
            background-color: darken($gray-800, 5%);
            color: #fff;
        }
    }
}

.bg-light {

    .dropdown-menu {
        background-color: $gray-200;

        .dropdown-item,
        .dropdown-item:focus {
            color: $navbar-light-color;
        }

        .dropdown-item.active,
        .dropdown-item:hover,
        .dropdown-item:focus  {
            background-color: lighten($gray-200, 5%);
            color: $navbar-light-hover-color;
        }
    }
}