.dropdown-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: $font-size-sm;
    font-weight: 300;
}

.nav-tabs {
    .nav-link,
    .nav-link.disabled,
    .nav-link.disabled:hover,
    .nav-link.disabled:focus {
        border-color: $nav-tabs-border-color;
        background-color: $gray-200;
    }

    .nav-link:hover,
    .nav-link:focus {
        background-color: lighten($gray-200, 5%);
    }
}

.nav-pills {
    .active {
        border: 1px solid darken($primary, 5%);
    }
}

.breadcrumb {
    border: 1px solid $dropdown-border-color;
    border-radius: 3px;
    font-size: $font-size-sm;
    font-weight: 300;
    text-transform: uppercase;
}

.pagination {
    font-weight: 300;

    .page-link {
        border-color: transparent;
        border-radius: 3px;
        margin-left: 0.1em;
        margin-right: 0.1em;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .page-item.disabled {
        .page-link {
            border-color: transparent;
        }
    }
}

.list-group {
    font-size: $font-size-sm;
    font-weight: 300;
}