.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.text-truncate {
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {

}