// Made by CodyHouse

@import "bourbon";

// variables - colors

$main-text:  $dark;
$link:       $primary;
$background: $gray-100;
$timeline-img-size: 25px !default;

// mixins - rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// layout - breakpoints
   
$small:     320px;   
$medium:    768px;     
$large:     1170px;     

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == SMALL {
   @media only screen and (min-width: $small) { @content; } 
  }
  @else if $canvas == MEDIUM {
   @media only screen and (min-width: $medium) { @content; } 
  }
  @else if $canvas == LARGE {
   @media only screen and (min-width: $large) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.arn-timeline {
  background-color: $background;
  margin: 0;
  margin: 0;
  max-width: $large; 
  padding: 1em;
  position: relative;
  width: 100%;

  &::before {
    background: darken($background, 5%);
    content: '';
    height: 100%;
    left: 26px;
    position: absolute;
    top: 0;
    width: 4px;

    @media screen and (max-width: 576px) {
      left: 26px;
    }

    @media screen and (min-width: 576px) {
      left: 26px;
    }

    @media screen and (min-width: 768px) {
      left: 26px;
    }

    @media screen and (min-width: 992px) {
      left: 26px;
    }

    @media screen and (min-width: 1200px) {
      left: 26px;
    }
  }

  &::after { /* clearfix */
    clear: both;
    content: '';
    display: table;
  }
}

.arn-timeline-block {
  position: relative;
  margin: 1em 0;
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.arn-timeline-img {
  border-radius: 50%;
  box-shadow: 0 0 0 4px $white,
    inset 0 2px 0 rgba(#000, .08),
    0 2px 0 4px rgba(#000, .05) ;
  height: $timeline-img-size;
  left: 0;
  position: absolute;
  top: 10px;
  width: $timeline-img-size;

  img {
    display: block;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    position: relative;
    top: 50%;
    width: 24px;
  }

  &.fa {
    text-shadow: 0 1px 1px rgba(100,100,100,.75);
  }
}

.arn-timeline-content {
  @include border-radius;
  @include clearfix;
  background: $white;
  box-shadow: 0 1px 0 darken($background, 5%);
  margin-left: 45px;
  padding: .5em 1em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $white;
  }
}