// Made by CodyHouse

@import "bourbon";

// variables - colors

$main-text:  $dark;
$link:       $primary;
$background: $light;

// mixins - rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// layout - breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

a {
    color: $link;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    background-color: $background;
    margin: 0;
    max-width: $L; // breakpoints inside partials > _layout.scss
    padding: 1em;
    width: 100%;

    &::after { /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: $primary;

    h1 {
        color: $white;
        @include font-size(18px);
    }

    @include MQ(L) {
        height: 300px;
        line-height: 300px;

        h1 {
            @include font-size(24px);
        }
    }
}

#cd-timeline {
    position: relative;
    padding: 2em 1em;
    margin: {
        top: 2em;
        bottom: 2em;
    }

    &::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: darken($background, 5%);

        @media screen and (max-width: 540px) {
            left: 34px;
        }

        @media screen and (min-width: 540px) {
            left: 34px;
        }

        @media screen and (min-width: 720px) {
            left: 36px;
        }

        @media screen and (min-width: 960px) {
            left: 34px;
        }

        @media screen and (min-width: 1140px) {
            left: 34px;
        }
    }

    @include MQ(L) {
        margin: {
            top: 3em;
            bottom: 3em;
        }

        &::before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    @include clearfix;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include MQ(L) {
        margin: 4em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $white, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

    img,
    .fa {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    &.cd-picture {
        background: $success;
    }

    &.cd-movie {
        background: $danger;
    }

    &.cd-location {
        background: $warning;
    }

    @include MQ(L) {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: $white;
    @include border-radius;
    padding: 1em;
    box-shadow: 0 3px 0 darken($background, 5%);
    @include clearfix;

    h2 {
        color: $primary;
    }

    p, .cd-read-more, .cd-date {
        @include font-size(13px);
    }

    .cd-read-more, .cd-date {
        display: inline-block;
    }

    p {
        margin: 1em 0;
        line-height: 1.6;
    }

    .cd-read-more {
        float: right;
        padding: .8em 1em;
        background: $link;
        color: $white;
        @include border-radius;

        .no-touch &:hover {
            background-color: lighten($link, 5%);
        }
    }

    .cd-date {
        float: left;
        padding: .8em 0;
        opacity: .7;
    }

    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid $white;
    }

    @include MQ(M) {
        h2 {
            @include font-size(20px);
        }

        p {
            @include font-size(16px);
        }

        .cd-read-more, .cd-date {
            @include font-size(14px);
        }
    }

    @include MQ(L) {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;

        &::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: $white;
        }

        .cd-read-more {
            float: left;
        }

        .cd-date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            @include font-size(16px);
        }
    }
}

.cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;

    &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $white;
    }

    .cd-read-more {
        float: right;
    }

    .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}
