// Made by CodyHouse

@import "bourbon";

// variables - colors

$main-text:  $dark;
$link:       $primary;
$background: $light;

// mixins - rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// layout - breakpoints
   
$small:     320px;   
$medium:    768px;     
$large:     1170px;     

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == SMALL {
   @media only screen and (min-width: $small) { @content; } 
  }
  @else if $canvas == MEDIUM {
   @media only screen and (min-width: $medium) { @content; } 
  }
  @else if $canvas == LARGE {
   @media only screen and (min-width: $large) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

a {
    color: $link;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-weight: bold;
}

.arn-container {
    background-color: $background;
    margin: 0;
    max-width: $large; 
    padding: 1em;
    width: 100%;

    &::after { /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

#arn-timeline {
    position: relative;
    padding: 2em 1em;
    margin: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: darken($background, 5%);

        @media screen and (max-width: 540px) {
            left: 34px;
        }

        @media screen and (min-width: 540px) {
            left: 34px;
        }

        @media screen and (min-width: 720px) {
            left: 36px;
        }

        @media screen and (min-width: 960px) {
            left: 34px;
        }

        @media screen and (min-width: 1140px) {
            left: 34px;
        }
    }
}

.arn-timeline-block {
    position: relative;
    margin: 2em 0;
    @include clearfix;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.arn-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $white, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

    img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    &.arn-picture {
        background: $success;
    }

    &.arn-movie {
        background: $danger;
    }

    &.arn-location {
        background: $warning;
    }

}

.arn-timeline-content {
    position: relative;
    margin-left: 60px;
    background: $white;
    @include border-radius;
    padding: 1em;
    box-shadow: 0 3px 0 darken($background, 5%);
    @include clearfix;

    h2 {
        color: $primary;
    }

    p, .arn-read-more, .arn-date {
        @include font-size(13px);
    }

    .arn-read-more, .arn-date {
        display: inline-block;
    }

    p {
        margin: 1em 0;
        line-height: 1.6;
    }

    .arn-read-more {
        float: right;
        padding: .8em 1em;
        background: $link;
        color: $white;
        @include border-radius;

        .no-touch &:hover {
            background-color: lighten($link, 5%);
        }
    }

    .arn-date {
        float: left;
        padding: .8em 0;
        opacity: .7;
    }

    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid $white;
    }

    // @include MQ(MEDIUM) {
    //     h2 {
    //         @include font-size(20px);
    //     }

    //     p {
    //         @include font-size(16px);
    //     }

    //     .arn-read-more, .arn-date {
    //         @include font-size(14px);
    //     }
    // }

    // @include MQ(LARGE) {
    //     margin-left: 0;
    //     padding: 1.6em;
    //     width: 45%;

    //     &::before {
    //         top: 24px;
    //         left: 100%;
    //         border-color: transparent;
    //         border-left-color: $white;
    //     }

    //     .arn-read-more {
    //         float: left;
    //     }

    //     .arn-date {
    //         position: absolute;
    //         width: 100%;
    //         left: 122%;
    //         top: 6px;
    //         @include font-size(16px);
    //     }
    // }
}