[class*="arn-tooltip"] {
    position: relative;
    text-decoration: none;
}

[class*="arn-tooltip"]:after,
[class*="arn-tooltip"]:before {
    position: absolute;
    z-index: 100;
    opacity: 0;
}

[class*="arn-tooltip"]:after {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    content: attr(aria-label);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 4px;
    text-shadow: 0 0 5px #000;
    white-space: nowrap;
}

[class*="arn-tooltip"]:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
}

[class*="arn-tooltip"]:hover:after,
[class*="arn-tooltip"]:focus:after,
[class*="arn-tooltip"]:hover:before,
[class*="arn-tooltip"]:focus:before {
    opacity: 1;
}

.arn-tooltip-top:after,
.arn-tooltip-top:before {
    transition: bottom 0.25s ease-in-out;
    bottom: 90%;
    left: -9999px;
    margin-bottom: 12px;
}

.arn-tooltip-top:before {
    border-color: #222 transparent transparent transparent;
    margin-bottom: 0;
}

.arn-tooltip-top:hover:after,
.arn-tooltip-top:focus:after,
.arn-tooltip-top:hover:before,
.arn-tooltip-top:focus:before {
    bottom: 85%;
    left: 0;
}

.arn-tooltip-top:hover:before,
.arn-tooltip-top:focus:before {
    left: 15px;
}

.arn-tooltip-bottom:after,
.arn-tooltip-bottom:before {
    transition: top 0.25s ease-in-out;
    top: 90%;
    left: -9999px;
    margin-top: 12px;
}

.arn-tooltip-bottom:before {
    border-color: transparent transparent #222 transparent;
    margin-top: 0;
}

.arn-tooltip-bottom:hover:after,
.arn-tooltip-bottom:focus:after,
.arn-tooltip-bottom:hover:before,
.arn-tooltip-bottom:focus:before {
    top: 85%;
    left: 0;
}

.arn-tooltip-bottom:hover:before,
.arn-tooltip-bottom:focus:before {
    left: 15px;
}

.arn-tooltip-right:after,
.arn-tooltip-right:before {
    transition: left 0.25s ease-in-out;
    top: -9999px;
    left: 96%;
    margin-left: 12px;
}

.arn-tooltip-right:before {
    border-color: transparent #222 transparent transparent;
    margin-left: 0;
}

.arn-tooltip-right:hover:after,
.arn-tooltip-right:focus:after,
.arn-tooltip-right:hover:before,
.arn-tooltip-right:focus:before {
    left: 95%;
    top: 0;
}

.arn-tooltip-right:hover:before,
.arn-tooltip-right:focus:before {
    top: 7px;
}

.arn-tooltip-left:after,
.arn-tooltip-left:before {
    transition: right 0.25s ease-in-out;
    top: -9999px;
    right: 96%;
    margin-right: 12px;
}

.arn-tooltip-left:before {
    border-color: transparent transparent transparent #222;
    margin-right: 0;
}

.arn-tooltip-left:hover:after,
.arn-tooltip-left:focus:after,
.arn-tooltip-left:hover:before,
.arn-tooltip-left:focus:before {
    right: 95%;
    top: 0;
}

.arn-tooltip-left:hover:before,
.arn-tooltip-left:focus:before {
    top: 7px;
}

[class*="arn-tooltip"]:after,
[class*="arn-tooltip"]:before {
    transition: opacity 0.25s ease-in-out;
}