// Yeti 4.0.0
// Bootswatch

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Color system
$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eee !default;
$gray-300: #ddd !default;
$gray-400: #ccc !default;
$gray-500: #aaa !default;
$gray-600: #888 !default;
$gray-700: #666 !default;
$gray-800: #444 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #008cba !default;
$indigo:  #6610f2 !default;
$purple:  #8765C8 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #E99002 !default;
$green:   #3ed0b3 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $blue !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;

$enable-shadows:            false !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$border-width:                2px !default;
// $input-btn-border-width:      2px !default;

// Components
$border-radius:               .125rem !default;
$border-radius-lg:            .15rem !default;
$border-radius-sm:            .1rem !default;

// Fonts
$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-heading:         "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:        300 !default;
$input-font-weight-300:             300 !default;
$input-font-weight-500:             500 !default;
$input-font-weight-700:             700 !default;

// Buttons
$input-btn-padding-x:         1rem !default;
$btn-font-weight:             300 !default;

$btn-font-weight:             $font-weight-bold !default;

// Dropdowns
$dropdown-border-color:             rgba($black,.1) !default;
$dropdown-divider-bg:               rgba($black,.1) !default;
// Navs
$nav-link-disabled-color:           $gray-400 !default;
$nav-tabs-border-color:             $dropdown-border-color !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

$nav-minimal-border-width:             $border-width !default;
$nav-minimal-color:                    $gray-600 !default;
$nav-minimal-link-hover-color:         $primary !default;
$nav-minimal-link-active-color:        $primary !default;
$nav-minimal-border-color:             $dropdown-border-color !default;
$nav-minimal-link-hover-border-color:  $primary !default;
$nav-minimal-link-active-border-color: $primary !default;

// Navbar
$navbar-dark-color:                 rgba($white,.7) !default;
$navbar-dark-hover-color:           $white !default;

// Pagination
$pagination-color:                  $gray-600 !default;
$pagination-border-color:           $nav-tabs-border-color !default;
$pagination-active-border-color:    darken($primary, 5%) !default;
$pagination-disabled-color:         $gray-200 !default;

// Jumbotron
$jumbotron-padding:                 4rem !default;

// Badges
$badge-font-weight:                 300 !default;
$badge-padding-x:                   1rem !default;

// Progress bars
$progress-bg:                       #f6f6f6 !default;
$progress-bar-color:                $primary !default;

// List group
$list-group-disabled-bg:            $gray-200 !default;

// Close
$close-color:                       $gray-600 !default;
$close-text-shadow:                 none !default;

// theme colors
$theme-colors: () !default;
$theme-colors: map-merge((
  "important":    $purple,
), $theme-colors);

// Card columns

$card-columns-sm-spacer-y:             .1rem !default;
$card-columns-sm-count:                5 !default;
$card-columns-sm-gap:                  .1rem !default;

$card-columns-md-spacer-y:             .5rem !default;
$card-columns-md-count:                4 !default;
$card-columns-md-gap:                  .5rem !default;

// Carousel

$carousel-control-color:            $white !default;
$carousel-control-width:            15% !default;
$carousel-control-opacity:          .5 !default;

$carousel-indicator-width:          .75rem !default;
$carousel-indicator-height:         $carousel-indicator-width !default;
$carousel-indicator-spacer:         .5rem !default;
$carousel-indicator-active-bg:      $white !default;
$carousel-indicator-box-shadow:     0 1px 1px rgba(black, .25) !default;
$carousel-indicator-border-radius:  50% !default;

$carousel-caption-width:            70% !default;
$carousel-caption-color:            $white !default;

// Hover-cards

$hover-card-overlay-bg: #333;

$hover-card-base-height: 25em;
$hover-card-thumb-height: 76%;
$hover-card-content-height: 24%;

$hover-card-sm-base-height: 22.5em;
$hover-card-sm-thumb-height: 74%;
$hover-card-sm-content-height: 26%;

$hover-card-lg-base-height: 27.5em;
$hover-card-lg-thumb-height: 78%;
$hover-card-lg-content-height: 22%;

// Placeholders
$placeholder-line-all-width: 100%;
$placeholder-line-sm-height: .5em !default;
$placeholder-line-md-height: .65em !default;
$placeholder-line-lg-height: .8em !default;

$placeholder-cube-sm-width: 7.5em !default;
$placeholder-cube-md-width: 9.4em !default;
$placeholder-cube-lg-width: 11.3em !default;

$placeholder-cube-sm-height: 7.5em !default;
$placeholder-cube-md-height: 9.4em !default;
$placeholder-cube-lg-height: 11.3em !default;

$grid-gutter-width:           15px !default;